.career {
  background: $gray;
  letter-spacing: 1px;
  line-height: 1.7;

  &__heading {
    margin-top: 6rem;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__cards {
    margin-bottom: 8rem;
  }
  &__text {
    font-size: 1.5rem;
    margin-bottom: 6rem;
  }
  &__card {
    background: $white;
    &:not(:first-of-type) {
      margin-left: 2.5rem;
    }
  }

  &__card-heading {
    margin-left: 1.5rem;
    letter-spacing: normal;
    font-weight: 700;
  }

  &__card-text {
    margin: 0 6rem 5rem 2rem;
    text-align: left;
  }
}
