//grid variable
$columns: 12;

$lg: 1200px;
$md: 980px;
$sm: 680px;
$xs: 400px;


//
$black: #000;
$white: #fff;
$gray: #ccc;
$pink:  pink;
$purple: purple;
//$blue: #67E6EC;
//$blue: #a9d2ff;
$blue: #A0EADE;
//$dark-blue: #2191fb;
$dark-blue: #5C6784;
$beige: beige;
$green: #4CB963;
